<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta namr="author" content="Kangkang103 (Ben)" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="General" />
    <base target="_target" />
    <meta name="description" content="" />
    <title>Add New Student</title>
    <link rel="stylesheet" href="/style/styles.css" />
  </head>
  <body>
    <form action="/students/insert" method="post">
      <label for="id">ID: </label>
      <input type="number" name="id" id="id" />
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" />
      <label for="age">Age: </label>
      <input type="number" name="age" id="age" />
      <label for="merit">Merit: </label>
      <input type="number" name="merit" id="merit" />
      <label for="other">Other: </label>
      <input type="number" name="other" id="other" />
      <button>Submit</button>
    </form>
  </body>
</html>
